In [61]:
obj = pd.Series([4, 7, -5, 3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [62]:
obj.values
obj.index 
obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
obj2
obj2['a']
obj2['d'] = 6
obj2[['c', 'a', 'd']]
obj2[obj2 > 0]
obj2 * 2

import numpy as np
np.exp(obj2)

d     403.428793
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

In [60]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon':16000, 'Utah': 5000}
obj3 = pd.Series(sdata)
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [64]:
data = {'LOVE': ['girl', 'boy', 'BL', 'GL'], 
        'POP': [195, 352, 234, 156], 
        '%%%': [1.5, 1.7, 3.6, 2.4]}

frame = pd.DataFrame(data)

frame

   LOVE  POP  %%%
0  girl  195  1.5
1   boy  352  1.7
2    BL  234  3.6
3    GL  156  2.4